body{
  padding: auto;
  /*background-color:#20B2AA;*/
  background-image: url("../img/bt_bg.jpg");
}
.conner{
  margin: 200px auto;
  padding: 50px auto;
  padding: auto;
  width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  background:rgba(245,222,179,0.5);
}
.header h1{
  margin: 20px auto;
  padding: 55px 50px;
  font-family: 微软雅黑;
}
.forgetPwd{
  text-decoration: none;
}
.forgetPwd:hover{
  text-decoration: none;
}

