<html>
<head>
    <title>Welcome to me Web</title>
    <link href="../../css/indexStyle.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header_top">
                <a href="/user/index.htm" class="header_icon"></a>
                <div class="header_nav">
                    <ul>
                        <li>
                            <a href="/user/index.htm">首页</a>
                        </li>
                        <li>
                            <a>入口</a>
                        </li>
                        <li>
                            <a>有意见</a>
                        </li>
                    </ul>
                </div>
                <div class="login_or_reg">

                </div>
            </div>
            <div class="header_bottom">

            </div>
        </div>
        <div class="main-body"></div>
        <div class="footer"></div>
    </div>
</body>
</html>
